registry=https://trialu5x4d1.jfrog.io/artifactory/api/npm/nir-snyk-demo/
//trialu5x4d1.jfrog.io/artifactory/api/npm/nir-snyk-demo/:_auth=c3ZjLWFydGlmYWN0b3J5LWRlbW86S0NXTmhyQlUudjQ0dEJoaGZlYU4=
email=nir.weinberg@snyk.io
always-auth=true